<h3>Manual motor control</h3>
<div class="row">
	<div class="col-md-3">
		
		<div class="form-group">
			<label>Steps / Direction</label>
			<div class="input-group">
			  <span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="doTheDrive('ccw')">
					<span class="glyphicon glyphicon-arrow-left"></span> CCW
				</button>
			  </span>
			  <input class="form-control" name="steps" type="number" ng-model="motorControl.steps" 
					placeholder="Steps" />
			 <span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="doTheDrive('cw')">
					CW <span class="glyphicon glyphicon-arrow-right"></span>
				</button>
			  </span>
			</div><!-- end input-group -->	
		
		</div>
		
		<div class="form-group">
			<label for="number">RPM</label>
			<input type="number" class="form-control" ng-model="motorControl.rpm">
		</div>
		
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		
		<h3>LogFile</h3>
		
		<button class="btn btn-default" ng-click="showHideLog()">
			<span ng-if="showLog">Hide log</span>
			<span ng-if="!showLog">Show log</span>
		</button>
		
		<div class="row" ng-if="showLog">
			<div class="col-md-12">
				<pre>{{logContent}}</pre>
			</div>
		</div>

	</div>
</div>
